<!DOCTYPE html>
<html>
  <head>
    <title>Successful Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>
  <body  ng-app="fb_s_login" ng-controller="login">
  <div class="panel panel-primary">
      <!-- Default panel contents -->
        <div class="panel-heading">Facebook</div>
        <div class="panel-body">
        		<h1>Welcome to Facebook</h1>
        		<div class="row">
		        	<div class="col-lg-6">
		        		<table class="table">
						    <thead>
						      <tr>
						        <th>People On Facebook</th>
						        <th>Status</th>
						      </tr>
						    </thead>
						    <tbody>
						    <% for(var i in data) 
						            {                     
					            %>
								      <tr class="success">
								        <td><%= data[i].fname %> <%= data[i].lname %></td>
								        <td><form action="/frnd_func" method="POST">
								        	<button type="submit" name="id" value="<%= data[i].emailid %>" class="btn btn-danger">Add As A Friend</button>
								        	</form></td>
								      </tr>
							<% 
						            }  
						       %>
						    </tbody>
						  </table>
						  <a href="/afterSignIn"><button class="btn-sm btn-danger">GO BACK</button></a>
					</div>
				</div>
        </div>
        </div>
  </div>
  </body>
</html>